{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!-- Title -->
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Coffee Shops</h1>
		</div>
	</div>
<!-- Flash message -->
	<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}    
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none"></div>
		<div class="col-md-1"></div>
	</div>
<!-- print all coffee shops in database -->
	{% for coffee_shop in coffee_shops %}
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<a href = "{{url_for('Menu_coffee_shop', coffee_shop_id = coffee_shop.id)}}"> 
						<h3>{{coffee_shop.name}}</h3></a>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
